/* Default link colours */
/* a {color: #0275d8 !important} */

/* a:hover {color: #014c8c !important} */

.dash-spreadsheet-container
{
    /* maxHeight: 90vh !important; */
    max-height: 80vh !important;
    height: 80vh;
    float: right !important;
}
